<h3>Hola, <%=@user.name%> <%=@user.lastname%>:</h3>

Se le informa que sus productos estan <%=@status%> para mas detalle vea el siguiente link:<br>
<a href="<%=@url%>">Ver mis pedidos</a><br>
Saludos! tenga un buen dia