<h1 align="center">Editar Sub-categoria</h1>
<h4>Introduzca el nuevo nombre de la sub-categoria:</h4><br>
<%= form_for @subcategory do |t| %>
Nombre: <%=t.text_field :name%>
<input type="submit" value="Actualizar">
<%end%>