<h1 align="center">Cambiar password</h1>
<h4>Llene los campos:</h4><br>
<%= form_for @user, :url=>'/users/update_password', :method=>'post' do |f|%>
Nuevo password: <%=f.password_field :password %><br>
Repita nuevo password:<%=f.password_field :password_confirmation %> <br>
Password aasctual: <%=f.password_field :current_password %><br>
<input type="submit" value="Cambiar">
<%end%>