<h1 align="center">Cambiar password</h1>
<h4>Llene los campos:</h4><br>
<form method='post' action='/users/update_password'>
Nuevo password: <input type="password" name="nuevo"><br>
Repita nuevo password: <input type="password" name="repetir_nuevo"><br>
Password actual: <input type="password" name="actual"><br>
<input type="submit" value="Cambiar">
</form>