<form action="/delivers/delete_deliver" method="get">
	<h3>Introduzca el codigo del pedido:</h3>
<input type="text" name="id" ><input type="submit" value="Buscar" class="btn-primary">
</form>
<%if(!@exist)%>
<h3>No se encontraron resultados</h3>
<%end%>
