<p>Bienvenido a FerroTools, <%= @email %>!</p>

<p>Puedes confirmar tu cuenta desde el siguiente enlace:</p>

<p><%= link_to 'Confirmar ahora!', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Si recicbio este mensaje por equivocacion por favor ignorarlo</p>
